{
    "Working_Directory": "/Users/arnavshah/Documents/scouting/backend-next/src/data/raw/scouting",
    "Pit_Directory": "/Users/arnavshah/Documents/scouting/backend-next/src/data/raw/pit",
    "Duplicate_Directory": "/Users/arnavshah/Documents/scouting/backend-next/src/data/raw/duplicates",
    "Duplicate_Pit_Directory": "/Users/arnavshah/Documents/scouting/backend-next/src/data/raw/duplicates-pit",
    "Target_JSON": "/Users/arnavshah/Documents/scouting/backend-next/src/data/compiled/compiled-scouting/compiled.json",
    "Target_CSV": "/Users/arnavshah/Documents/scouting/backend-next/src/data/compiled/csv/compiled.csv",
    "keyMap" : {
      "m": "match",
      "t": "team",
      "a": "Alliance Color",
      "n": "Scouter Name",
      "acol": "Auton Cones Lower",
      "acul": "Auton Cubes Lower",
      "acom": "Auton Cones Mid",
      "acum": "Auton Cubes Mid",
      "acou": "Auton Cones Upper",
      "acuu": "Auton Cubes Upper",
      "acs": "Auton Charge Station",
      "tcol": "Teleop Cones Lower",
      "tcul": "Teleop Cubes Lower",
      "tcom": "Teleop Cones Mid",
      "tcum": "Teleop Cubes Mid",
      "tcou": "Teleop Cones Upper",
      "tcuu": "Teleop Cubes Upper",
      "p": "Piece Pickup",
      "cs": "Charge Station",
      "ud": "Under Defense",
      "on": "Other Notes",
      "dr": "Defense Rating",
      "dn": "Defense Notes",
      "rr": "Robot Rating",
      "ap": "Auton Points",
      "tp": "Teleop Points",
      "ttp": "Total Points"
  },
    "Pit-Order": [
      "match",
      "team",
      "Scouter Name",
      "Auton Notes",
      "Other Notes",
      "Defense Notes"
    ],
    "file_name": "compiled.json",
    "python_prefix": "python"
  }
